# Paddle Configuration
# Get these from your Paddle Dashboard -> Developer Tools -> Authentication
VITE_PADDLE_CLIENT_TOKEN=
VITE_PADDLE_ENVIRONMENT=production

# Get these from your Paddle Dashboard -> Monetization -> Products
VITE_PADDLE_BASIC_PRICE_ID=pri_01knf21g06kwwbbk9mmw0v78p9
VITE_PADDLE_PRO_PRICE_ID=pri_01knf24hhmpkbe5k1hj8wkxddq