VITE_PADDLE_ENVIRONMENT=sandbox
PADDLE_API_KEY=pdl_live_apikey_01knf3sm7a7xdfspn9jp310wrj_AW8ndqngQd3H7Z0T3ptFN3_A49
VITE_PADDLE_CLIENT_TOKEN=live_6497d15082a68ecd73a84f025da
VITE_PADDLE_BASIC_PRICE_ID=basic_plan_price_id_here
VITE_PADDLE_PRO_PRICE_ID=pri_01knf24hhmpkbe5k1hj8wkxddq